name: Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch: 
  schedule:
    - cron: 30 02 * * * # 8 AM IST
    - cron: 00 14 * * * # 7:30 PM IST
  
jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6-beta

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
         node-version: '22'

      - name: Install Newman and Html-extra globally
        run: |
           npm install -g newman
           npm install -g newman-reporter-htmlextra

       - name: Run the postman collection with newman
         run: |
            newman run 'Inwarranty-flow Collection Copy.postman_collection.json' \
            -e QA.postman_environment.json \
            -r cli,htmlextra

       - name: Newman Report
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Newman Report
          path: newman/*.html
       
